<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->



<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

<div class="container-fluid">
    <h1>Tweets#index</h1>
    <p>Find me in app/views/tweets/index.html.erb</p>
    <%= link_to 'New Tweet', new_tweet_path %>
    
    <%= @tweets.each do |tweet|%>
        <h3><%=tweet.name %></h3>
        <p><%=tweet.message%></p>
        <p><%= link_to 'Show Tweet', tweet%></p>
    <% end %>
</div>
